.about-us-introduction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: rem(250px);

  @include respond-above('sm') {
    height: rem(400px);
  }

  @include respond-above('md') {
    height: rem(500px);
  }

  @include respond-above('lg') {
    height: rem(600px);
  }

  @include respond-above('xl') {
    height: rem(700px);
  }

  &__title {
    width: 58%;
    height: 12.5%;
    margin-block-start: 0%;
    margin-block-end: 0%;

    color: $dark;
    -webkit-text-stroke: rem(1px) $dark;

    @include respond-above('md') {
      font-size: rem(28px);
    }

    @include respond-above('lg') {
      font-size: rem(32px);
    }

    @include respond-above('xl') {
      width: 45%;

      font-size: rem(36px);
    }

    font-size: rem(24px);
    font-weight: bold;
    line-height: 1.22;
    text-align: left;
  }

  &__description {
    transform: translateY(-30%);
    align-self: flex-end;
    box-sizing: border-box;
    width: 55%;
    height: 45%;
    padding: 3% 5% 2% 2.5%;
    margin-block-start: 0%;
    margin-block-end: 0%;

    color: $light;
    background-color: $dark;

    @include respond-above('md') {
      transform: translateY(-20%);
      height: 50%;

      font-size: rem(14px);
    }

    @include respond-above('lg') {
      font-size: rem(18px);
    }

    @include respond-above('xl') {
      font-size: rem(22px);
    }
    
    font-size: rem(10px);
    font-weight: 200;
    text-align: left;
    line-height: 1.5;
  }

  &--background {
    background: {
      image: url(../../../public/images/hand-shake.jpg),
        url(../../../public/images/plain-black-rectangle.png);
      position: left 10% top 42%, left bottom 40%;
      size: 53% auto, 100% 45%;
      repeat: no-repeat, no-repeat;
    }
  }

  .about-us-section {
    // TO DO: sharable prop
  }
}
