@import '../abstracts/_abstracts-dir';

.about-us-section {
  box-sizing: border-box;
  padding-top: rem(16px);

  @include respond-above('sm') {
    padding-top: rem(24px);
  }

  @include respond-above('md') {
    padding-top: 0;
  }

  &__header {
    display: flex;
    justify-content: center;

    &--quote {
      @include respond-above('md') {
        display: none;
      }
    }
  }

  &__title {
    margin: 0;
    font-size: rem(16px);

    @include respond-above('sm') {
      font-size: rem(18px);
    }
  }

  &__description {
    margin: 0;
  }

  &--light {
    height: rem(200px);
    background-color: teal;

    @include respond-above('md') {
      height: rem(500px);
    }

    @include respond-above('lg') {
      height: rem(650px);
    }

    @include respond-above('xl') {
      height: rem(800px);
    }
  }

  &--quote {
    height: auto;
  }
}
