@import '../abstracts/_abstracts-dir';

.about-us-section {
  box-sizing: border-box;
  padding: rem(16px) 0;

  @include respond-above('sm') {
    padding: rem(24px) 0;
  }

  @include respond-above('lg') {
    padding: rem(32px) 0;
  }

  @include respond-above('xl') {
    padding: rem(40px) 0;
  }

  &__header {
    display: flex;
    justify-content: center;

    &--quote {
      @include respond-above('md') {
        display: none;
      }
    }
  }

  &__title {
    margin: 0;
    font-size: rem(16px);

    @include respond-above('sm') {
      font-size: rem(18px);
    }
  }

  &__description {
    margin: 0;
  }

  // TODO: This is just mocking, remove this when implementing Goal section
  &--goal {
    height: rem(200px);

    background-color: $picton-blue;

    @include respond-above('md') {
      height: rem(500px);
    }

    @include respond-above('lg') {
      height: rem(650px);
    }

    @include respond-above('xl') {
      height: rem(800px);
    }
  }
}
