.account-content {
  height: 100%;

  & > div {
    &:not(:last-child) {
      margin-bottom: rem(32px);
    }
  }

  &__product {
    background-color: orange;
  }

  &__review {
    background-color: royalblue;
  }
}
