.account-content {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__product {
    flex: 1;

    background-color: orange;
  }

  &__review {
    flex: 1;

    background-color: royalblue;
  }
}
