@import '../abstracts/_abstracts-dir';

.account-information {
  box-sizing: border-box;
  height: 100%;
  
  background-color: darkcyan;

  @include flex-center();

  @include respond-above('md') {
    padding: rem(32px);
  }

  @include respond-above('lg') {
    padding: rem(40px);
  }
}
