@import '../abstracts/_abstracts-dir';

.dropdown {
  position: relative;
  float: right;
  cursor: pointer;

  &__toggle {
    display: flex;
    align-items: center;
  }

  &__arrow {
    border-top: rem(4px) solid $dark;
    border-right: rem(4px) solid transparent;
    border-left: rem(4px) solid transparent;
    margin-left: rem(8px);

    &--large {
      border-top: rem(6px) solid $dark;
      border-right: rem(6px) solid transparent;
      border-left: rem(6px) solid transparent;
      margin-left: rem(16px);
    }
  }

  &__option-menu {
    font-size: rem(14px);

    @include respond-above('lg') {
      font-size: rem(16px);
    }
  }

  &__menu {
    position: absolute;
    z-index: $zindex-dropdown;
    right: 0;

    box-shadow: 1px 1px rem(4px) box-shadow-opacity(0.2);
    width: max-content;
    padding: rem(2px) 0;
    border: 1px $shuttle-gray;
    border-radius: rem(6px);
    margin: rem(12px) 0 0;

    background-color: $light;
    cursor: pointer;
  }

  &__menu-item {
    display: flex;
    align-items: center;
    padding: rem(12px);

    &:not(:last-child) {
      border-bottom: 1px solid $porcelain;
    }

    &:hover {
      color: $picton-blue;
    }

    &--selected {
      color: $picton-blue;
      font-weight: bold;
    }
  }

  &__label {
    @include respond-above('md') {
      font-size: rem(12px);
    }

    @include respond-above('lg') {
      font-size: rem(16px);
    }

    &:not(:first-child) {
      margin-left: rem(8px);
    }

    &--bold {
      font-weight: bold;
    }
  }
}
