@import '../abstracts/_abstracts-dir';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  max-width: $navbar-max-width;
  padding: rem(32px);
  
  background-color: $light;

  @include respond-above('md') {
    flex-direction: row;
    height: 100%;
    padding: rem(24px) 0 0;
  }

  @include respond-above('lg') {
    padding: rem(32px) 0 0;
  }

  @include respond-above('xl') {
    padding: rem(48px) 0 0;
  }

  &__logo-container {
    & > * {
      &:last-child {
        margin-top: rem(32px);
      }
    }
  }

  &__email-container {
    display: flex;
    align-items: flex-end;

    & > * {
      &:last-child {
        margin-left: rem(8px);
      }
    }
  }

  &__list {
    padding: 0;
    margin: rem(32px) 0 0;
    list-style-type: none;

    @include respond-above('md') {
      margin: rem(8px) 0 0;
    }
  }

  &__list-item {
    color: $cat-black;
    font-size: rem(12px);
    font-weight: 500;
    line-height: normal;

    &:not(:last-child) {
      margin-bottom: rem(16px);
    }

    @include respond-above('lg') {
      font-size: rem(16px);
    }
  }

  // TODO: Adjust font style according to design
  &__list-title {
    margin: 0;
  }

  &__link {
    color: $cat-black;
    text-decoration: none;

    &--danger {
      color: $coral-red;
      font-weight: 600;
    }
  }
}
