@import '../abstracts/_abstracts-dir';

.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;

  &__input-full-name,
  &__input-credential,
  &__input-product,
  &__dropdown {
    display: flex;
    flex-direction: column;

    @include respond-above('md') {
      flex-direction: row;
    }
  }

  &__input-group,
  &__dropdown-group {
    @include respond-above('md') {
      width: 45%;

      &:nth-child(odd) {
        margin-right: 10%;
      }
    }

    &--expanded {
      @include respond-above('md') {
        width: 100%;
        margin: 0;
      }
    }
  }

  &__input-group,
  &__textarea-group {
    position: relative;

    &:not(:last-child) {
      margin-bottom: rem(24px);

      @include respond-above('md') {
        margin-bottom: rem(46px);
      }

      @include respond-above('lg') {
        margin-bottom: rem(50px);
      }
    }
  }

  &__product,
  &__dropdown {
    margin-bottom: rem(24px);

    @include respond-above('md') {
      margin-bottom: rem(46px);
    }

    @include respond-above('lg') {
      margin-bottom: rem(50px);
    }
  }

  &__title {
    margin: 0;
  }

  &__label {
    display: block;
    margin-bottom: rem(12px);

    font-size: rem(14px);
    font-weight: 600;
    line-height: 1.2;

    @include respond-above('lg') {
      font-size: rem(16px);
    }
  }

  &__profile {
    margin-bottom: rem(32px);

    @include respond-above('md') {
      margin-bottom: rem(48px);
    }

    @include respond-above('lg') {
      margin-bottom: rem(64px);
    }
  }

  &__input-full-name {
    padding-bottom: rem(32px);
    border-bottom: solid 1px $silver;
    margin-bottom: rem(32px);

    @include respond-above('md') {
      padding-bottom: 0;
      border: none;
      margin-bottom: 0;
    }
  }

  &__input-credential {
    flex-wrap: wrap;
    margin-bottom: rem(32px);

    @include respond-above('md') {
      margin-bottom: rem(48px);
    }

    @include respond-above('lg') {
      margin-bottom: rem(64px);
    }
  }

  &__input-initial {
    margin-bottom: rem(32px);

    @include respond-above('md') {
      margin-bottom: rem(46px);
    }

    @include respond-above('lg') {
      margin-bottom: rem(50px);
    }
  }

  &__input-product {
    flex-wrap: wrap;
    margin-bottom: rem(24px);

    @include respond-above('md') {
      margin-bottom: 0;
    }
  }

  &__input-password {
    position: relative;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    padding: rem(8px) 0;
    border-color: $havelock-blue;
    border-width: 0 0 rem(2px);
    outline: 0;

    font-size: rem(14px);
    text-overflow: ellipsis;

    @include respond-above('lg') {
      font-size: rem(16px);
    }

    &--invalid {
      border-color: $coral-red;
    }
  }

  &__textarea {
    box-sizing: border-box;
    width: 100%;
    height: rem(160px);
    padding: rem(16px);
    border: solid rem(2px) $havelock-blue;
    border-radius: rem(4px);
    outline: 0;

    font-family: inherit;
    font-size: rem(14px);

    resize: none;

    @include respond-above('lg') {
      font-size: rem(16px);
    }

    &--invalid {
      border-color: $coral-red;
    }
  }

  &__dropdown-group {
    &:not(:last-child) {
      margin-bottom: rem(24px);

      @include respond-above('md') {
        margin-bottom: 0;
      }
    }
  }

  &__help {
    margin-top: rem(8px);
    color: $coral-red;
    font-size: rem(12px);

    @include respond-above('md') {
      position: absolute;
    }

    @include respond-above('lg') {
      font-size: rem(14px);
    }

    &--center {
      text-align: center;

      @include respond-above('md') {
        position: static;
      }
    }
  }

  &__icon-eye {
    position: absolute;
    top: rem(8px);
    right: rem(16px);

    cursor: pointer;
  }

  &__recaptcha {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: rem(32px);
  }

  &__actionable {
    display: flex;
    flex-direction: column;

    @include respond-above('md') {
      align-items: center;
    }
  }

  &__button {
    all: unset;

    padding: rem(16px 112px);
    border-radius: rem(26px);

    background-color: $dodger-blue;
    color: $light;

    font-size: rem(14px);
    font-weight: 500;
    text-align: center;
    white-space: nowrap;

    cursor: pointer;

    @include respond-above('md') {
      padding: rem(12px 42px);
      font-size: rem(16px);
    }

    @include respond-above('lg') {
      padding: rem(14px 48px);
      font-size: rem(18px);
    }

    &:hover {
      background-color: darken($dodger-blue, 8%);
    }

    &:disabled {
      background-color: $silver;
      cursor: auto;
    }
  }
}
