@import '../abstracts/_abstracts-dir';

.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 0 rem(16px);

  @include respond-above('md') {
    padding: 0 5%;
  }

  @include respond-above('lg') {
    padding: 0 10%;
  }

  &__header,
  &__recaptcha,
  &__actionable {
    display: flex;
    justify-content: center;
    
    @include respond-above('md') {
      margin-bottom: rem(32px);
    }
  }

  &__title {
    margin: 0;
  }

  &__input-label {
    display: block;
    margin-bottom: rem(12px);

    font-size: rem(16px);
    font-weight: 600;
    line-height: 1.2;

    @include respond-above('lg') {
      font-size: rem(20px);
    }
  }

  &__input-group {
    &:not(:last-child) {
      margin-bottom: rem(12px);

      @include respond-above('md') {
        margin-bottom: rem(32px);
      }
    }
  }

  &__input-password {
    position: relative;
  }

  &__input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0 0 rem(8px);
    border-color: $havelock-blue;
    border-width: 0 0 rem(2px);
    outline: 0;

    font-size: rem(16px);
    text-overflow: ellipsis;

    &--invalid {
      border-color: $coral-red;
    }
  }

  &__button {
    color: $light;
    text-decoration: none;
    margin: 0;
    padding: rem(5px 10px);
    border-radius: rem(3px);
    background-color: $shuttle-gray;

    &:hover {
      background-color: darken($silver, 8%);
    }
  }

  &__help {
    display: inline-block;
    margin-top: rem(8px);
    color: $coral-red;
    font-size: rem(14px);

    @include respond-above('md') {
      position: absolute;
    }
  }

  &__eye-icon {
    position: absolute;
    right: rem(16px);
    top: 0;
    cursor: pointer;
  }
}
