.hamburger {
  position: absolute;
  width: 100%;

  @include respond-above('md') {
    display: none;
  }

  &__container {
    padding-left: rem(16px);
    user-select: none;

    > span {
      position: relative;
      display: block;
      width: rem(24px);
      height: rem(3px);
      border-radius: rem(3px);
      margin-bottom: rem(5px);

      background: $dark;

      transform-origin: rem(4px 0px);

      @include transition(transform, 0.55s, ease);
      @include transition(cubic-bezier(0.77, 0.2, 0.05, 1) opacity, 0.5s, ease);
    }
  }

  & span:nth-child(3) {
    width: rem(16px);
  }

  & span:nth-child(4) {
    margin: 0;
    transform-origin: 0% 100%;
  }

  &__input {
    position: absolute;
    z-index: $zindex-hamburger-input;

    width: rem(24px);
    height: 100%;
    margin: 0;
    opacity: 0;

    cursor: pointer;

    -webkit-touch-callout: none;

    &:checked {
      width: rem(20px);
      height: 100%;
    }

    &:checked ~ .hamburger__menu {
      opacity: 1;

      > li > a {
        pointer-events: visible;
      }
    }

    &:checked ~ span {
      top: 3px;
      opacity: 1;
      transform: rotate(45deg) translate(0, -1px);
    }

    &:checked ~ span:nth-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.4, 0.2);
    }

    &:checked ~ span:nth-child(4) {
      transform: rotate(-45deg) translate(3.5px, -1px);
    }
  }

  &__menu {
    position: absolute;

    box-sizing: border-box;
    box-shadow: 0 rem(2px 2px) 0 box-shadow-opacity(0.16);
    width: 100%;
    padding: rem(32px) rem(60px);
    margin: 0 0 0 rem(-16px);
    opacity: 0;
    overflow: hidden;

    background-color: $light;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    > li > a {
      pointer-events: none;
    }

    @include transition(opacity, 0.25s, ease-in-out);
  }

  &__menu-item {
    box-sizing: border-box;
    padding: rem(16px) 0;

    &:not(:last-child) {
      border-bottom: 1px solid $silver;
    }
  }

  &__link {
    color: $dark;
    font-size: rem(16px);
    text-decoration: none;

    /* Prevent font scaling in landscape while allowing user zoom */
    -webkit-text-size-adjust: 100%;
  }
}
