@import '../abstracts/_abstracts-dir';

.home-section {
  padding: rem(16px) 0;
  box-sizing: border-box;

  @include respond-above('md') {
    padding: rem(24px) 0;
  }

  @include respond-above('lg') {
    padding: rem(32px) 0;
  }

  @include respond-above('xl') {
    padding: rem(40px) 0;
  }

  &__header {
    margin-bottom: rem(16px);

    @include respond-above('lg') {
      margin-bottom: rem(24px);
    }
  }

  &__title {
    font-size: rem(16px);
    margin: 0;

    @include respond-above('md') {
      font-size: rem(24px);
    }

    @include respond-above('lg') {
      font-size: rem(32px);
    }

    @include respond-above('xl') {
      font-size: rem(40px);
    }
  }

  &__description {
    margin: 0;
  }

  &--background-image {
    background: {
      image: url('/images/bank-jojo.jpg'),
        url('/images/plain-grey-square.png');
      repeat: no-repeat;
      size: contain, auto 40%;
      position: left, bottom 30% right;
    };
  }

  &--dark {
    height: auto;
    background-color: $alabaster;
  }

  &--light {
    background-color: $light;

    @include respond-above('md') {
      height: rem(500px);
    }

    @include respond-above('lg') {
      height: rem(650px);
    }

    @include respond-above('xl') {
      height: rem(800px);
    }
  }

  &--popular-item {
    height: auto;
  }
}
