.home-search-suggestion {
  position: absolute;

  @include respond-above('md') {
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  max-height: 300px;
  width: 80%;

  @include respond-above('md') {
    width: 90%;
  }

  box-shadow: rem(5px 10px 20px) 0 box-shadow-opacity(0.16);
  background-color: $light;

  &__autocomplete {
    list-style: none;
    margin-top: 0;
    max-height: 150px;
    overflow-y: auto;
    margin-left: 10px;

    text-overflow: ellipsis;
    font-size: rem(20px);
    line-height: 1.23;

    @include respond-above('sm') {
      font-size: rem(16px);
    }

    @include respond-above('md') {
      font-size: rem(20px);
    }

    @include respond-above('lg') {
      font-size: rem(24px);
    }
  }
  &__autocomplete > li {
    padding: 8px;
  }
  &__autocomplete > active,
  &__autocomplete > li:hover {
    background-color: darkgray;
    cursor: pointer;
    font-weight: 700;
  }
  &__autocomplete > li:not(:last-of-type) {
    border-bottom: 1px solid #999;
  }

  &__no-autocomplete {
    color: #999;
    padding: 8px;
  }
}
