@import '../abstracts/_abstracts-dir';

.home-search {
  position: relative;

  display: flex;
  justify-content: flex-end;
  height: rem(250px);
  padding-top: rem(43px);

  @include respond-above('sm') {
    height: rem(375px);
    padding-top: rem(55px);
  }

  @include respond-above('md') {
    height: rem(500px);
    padding: 0;
  }

  @include respond-above('lg') {
    height: rem(600px);
  }

  @include respond-above('xl') {
    height: rem(700px);
  }

  &__content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    max-width: 47.5%;

    @include respond-above('sm') {
      max-width: 50%;
    }

    @include respond-above('lg') {
      justify-content: space-between;
      max-width: 55%;
    }
  }

  &__title {
    margin: 0;
    font-size: rem(24px);

    @include respond-above('md') {
      font-size: rem(45px);
    }

    @include respond-above('lg') {
      font-size: rem(60px);
    }

    @include respond-above('xl') {
      font-size: rem(75px);
    }
  }

  &__description {
    margin: 0;
    font-size: rem(12px);
    line-height: 1.3;

    @include respond-above('md') {
      padding: 0 5% rem(20px);
      font-size: rem(16px);
      line-height: 1.5;
    }

    @include respond-above('lg') {
      padding: 0 10% rem(26px);
      font-size: rem(20px);
    }

    @include respond-above('xl') {
      padding-bottom: rem(32px);
      font-size: rem(26px);
    }
  }

  &__box {
    position: absolute;
    top: 0%;

    width: 100%;

    @include flex-center();

    @include respond-above('md') {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__autocomplete,
    &__autocomplete__not-found {
      position: absolute;
      top: 105%;
      left: 10%;

      width: 80%;
      max-height: rem(120px);
      padding-inline-start: 0px;
      padding-block-end: 1rem;
      margin-block-start: 0px;
      margin-block-end: 0px;
      margin-inline-start: 0px;
      overflow-y: auto;

      box-shadow: rem(5px 10px 20px) 0 box-shadow-opacity(0.16);
      background-color: $light;

      font-size: rem(14px);
      list-style: none;
      text-overflow: ellipsis;
      line-height: 1.23;

      @include respond-above('md') {
        left: 5%;

        width: 90%;
        max-height: rem(150px);
      }

      @include respond-above('lg') {
        max-height: rem(250px);
      }

      &__not-found {
        height: 10px;
        padding: 10px 0px;

        color: $secondary;

        font-size: rem(10px);

        @include respond-above('sm') {
          height: rem(15px);
          padding: rem(10px) 0px;

          font-size: rem(12px);
        }

        @include respond-above('md') {
          height: rem(20px);
          padding: rem(15px) 0px;
          padding-block-end: 0px;

          font-size: rem(16px);
        }

        @include respond-above('lg') {
          padding: rem(20px) 0px;

          font-size: rem(20px);
        }
      }

      &__not-found > em {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        margin-left: rem(10px);

        @include respond-above('sm') {
          margin-left: rem(20px);
        }
        @include respond-above('md') {
          margin-left: rem(40px);
        }

        @include respond-above('lg') {
          margin-left: rem(60px);
        }
      }
    }

    &__autocomplete > li {
      padding: rem(5px 10px);

      @include respond-above('sm') {
        padding: rem(6px 20px);

        font-size: rem(16px);
      }

      @include respond-above('md') {
        padding: rem(12px 40px);

        font-size: rem(20px);
      }

      @include respond-above('lg') {
        padding: rem(20px 60px);

        font-size: rem(24px);
      }
    }

    &__autocomplete > li:first-child {
      padding-top: rem(10px);

      @include respond-above('sm') {
        padding-top: rem(20px);
      }

      @include respond-above('md') {
        padding-top: rem(25px);
      }

      @include respond-above('lg') {
        padding-top: rem(30px);
      }
    }

    &__autocomplete > active,
    &__autocomplete > li:hover {
      cursor: pointer;

      font-weight: 300;

      background-color: $primary;
    }
  }
}
