@import '../abstracts/_abstracts-dir';

.home-search-box {
  display: flex;
  width: 80%;
  box-shadow: rem(5px 10px 20px) 0 box-shadow-opacity(0.16);

  background-color: $light;

  @include respond-above('md') {
    width: 90%;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    padding: rem(5px 10px);
    border: none;

    color: $dove-gray;

    text-overflow: ellipsis;
    font-size: rem(14px);
    line-height: 1.23;

    @include respond-above('sm') {
      padding: rem(10px 20px);
      font-size: rem(16px);
    }

    @include respond-above('md') {
      padding: rem(20px 40px);
      font-size: rem(20px);
    }

    @include respond-above('lg') {
      padding: rem(35px 60px);
      font-size: rem(24px);
    }
  }

  &__button {
    width: rem(28px);
    padding: 0;
    border: none;
    background: {
      color: $light;
      image: url('/icons/search-icon.svg');
      repeat: no-repeat;
      size: 70%;
      position: left;
    }

    @include respond-above('sm') {
      width: rem(40px);
    }

    @include respond-above('md') {
      width: rem(64px);
    }

    @include respond-above('lg') {
      width: rem(100px);
    }
  }
}
