@import '../abstracts/_abstracts-dir';

.home-search-box {
  @include flex-center();

  display: flex;

  &__button {
    @include button-hover-animation($picton-blue);

    background: $picton-blue;

    padding: rem(5px 10px);
    border-radius: rem(3px);
    text-decoration: none;
  }

  &__text {
    color: $light;
  }
}
