.logo {
  z-index: 1;
  color: $dark;
  font-size: rem(24px);
  font-weight: bold;
  letter-spacing: rem(4px);
  text-decoration: none;

  @include respond-above('md') {
    font-size: rem(32px);
  }

  @include respond-above('lg') {
    font-size: rem(36px);
  }
}
