@import '../abstracts/_abstracts-dir';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: rem(1536px);
  padding: 0 rem(16px);
  box-sizing: border-box;

  @include respond-above('md') {
    padding: 0 rem(24px);
  }

  @include respond-above('lg') {
    padding: 0 rem(32px);
  }

  @include respond-above('xl') {
    padding: 0 rem(48px);
  }

  &__menu-item,
  &__link {
    &:not(:last-child) {
      margin-right: rem(16px);
    }
  }

  &__logo {
    text-align: left;
    text-decoration: none;
    color: $dark;
    letter-spacing: rem(4px);
    font-size: rem(24px);
    font-weight: bold;

    @include respond-above('md') {
      font-size: rem(32px);
    }

    @include respond-above('lg') {
      font-size: rem(36px);
    }
  }

  &__menu {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
  }

  // TODO: for future implementation
  &__menu-item {
  }

  &__link {
    text-decoration: none;

    &--sign-in {
      // TODO: for future implementation
    }

    &--sign-up {
      // TODO: for future implementation
    }

    &--avatar {
      width: rem(48px);
      height: rem(48px);
      border-radius: 50%;
    }

    &--locale {
      // TODO: for future implementation
    }
  }

  &__tool {
    display: flex;
    // TODO: for future implementation
  }

  &__tool > div {
    &:not(:last-child) {
      margin-right: rem(32px);
    }
  }

  // TODO: for future implementation
  &__account {
  }

  // TODO: for future implementation
  &__flag {
  }
}
