@import '../abstracts/_abstracts-dir';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  padding: 0 rem(16px);
  background-color: $background;
  box-sizing: border-box;

  @include respond-above('md') {
    padding: 0 rem(24px);
  }

  @include respond-above('lg') {
    padding: 0 rem(32px);
  }

  @include respond-above('xl') {
    padding: 0 rem(40px);
  }

  &__menu-item,
  &__authentication-button {
    &:not(:last-child) {
      margin-right: rem(16px);
    }
  }

  &__logo {
    display: flex;
  }

  &__menu {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
  }

  // TODO: for future implementation
  &__menu-item {
  }

  &__link {
    text-decoration: none;
  }

  &__account {
    display: flex;
  }

  // TODO: for future implementation
  &__account-button {
  }

  &__avatar-button {
    width: rem(48px);
    height: rem(48px);
    border-radius: 50%;
  }
}
