@import '../abstracts/_abstracts-dir';

.navbar {
  box-sizing: border-box;
  width: 100%;
  max-width: $navbar-max-width;
  height: rem(56px);

  background-color: $light;

  @include flex-center();

  @include respond-above('md') {
    justify-content: space-between;
    height: rem(80px);
    padding: 0 rem(24px);
  }

  @include respond-above('lg') {
    height: rem(96px);
    padding: 0 rem(32px);
  }

  @include respond-above('xl') {
    height: rem(120px);
    padding: 0 rem(48px);
  }

  &__menu-item,
  &__link {
    &:not(:last-child) {
      margin-right: rem(16px);

      @include respond-above('lg') {
        margin-right: rem(24px);
      }

      @include respond-above('xl') {
        margin-right: rem(32px);
      }
    }
  }

  &__logo {
    color: $dark;
    font-size: rem(24px);
    font-weight: bold;
    letter-spacing: rem(4px);
    text-align: left;
    text-decoration: none;

    @include respond-above('md') {
      font-size: rem(32px);
    }

    @include respond-above('lg') {
      font-size: rem(36px);
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__menu-item {
    position: relative;
    display: none;

    list-style-type: none;
    text-decoration: none;
    font-size: rem(16px);
    font-weight: 600;
    line-height: 1.52;

    @include respond-above('md') {
      display: block;
      color: $tornado;
    }

    &:after {
      position: absolute;
      left: 0;
      right: 0;
      content: '';
      display: block;
      width: 0;
    }

    &:hover::after {
      width: 64%;
      border-bottom: rem(3px) solid $havelock-blue;
      margin: 0 auto;
      transition: width 0.3s;
    }

    &--selected {
      color: $dark;

      &:after {
        content: '';
        display: block;
        width: 64%;
        border-bottom: rem(3px) solid $havelock-blue;
        margin: 0 auto;
      }
    }
  }

  &__link {
    text-decoration: none;
    cursor: pointer;

    &--secondary {
      color: $dark;
    }

    &--primary {
      border-radius: rem(26px);
      border: solid rem(3px) $light;
      box-shadow: 0 rem(3px 6px) box-shadow-opacity(0.16);

      background-image: linear-gradient(111deg, $cornflower-blue 1%, $royal-blue 101%);
      color: $light;

      @include button-darken-effect($cornflower-blue);

      @include respond-above('md') {
        padding: rem(6px 15px);
        font-size: rem(16px);
      }
    }
  }

  &__avatar {
    display: flex;
    align-items: center;
  }

  &__image {
    width: rem(48px);
    height: rem(48px);
    border-radius: 50%;
    margin-right: rem(8px);
    object-fit: cover;
  }

  &__label {
    font-size: rem(16px);

    &:hover {
      color: $picton-blue;
    }
  }

  &__tool {
    display: none;

    @include respond-above('md') {
      display: flex;
      align-items: center;
    }
  }

  &__tool > div {
    &:not(:last-child) {
      margin-right: rem(16px);

      @include respond-above('lg') {
        margin-right: rem(24px);
      }

      @include respond-above('xl') {
        margin-right: rem(32px);
      }
    }
  }

  &__account {
    position: relative;
    font-size: rem(16px);
    font-weight: 600;

    cursor: pointer;
  }

  &__flag {
    position: relative;
    display: none;
    cursor: pointer;

    @include respond-above('md') {
      display: block;
    }
  }
}
