@import '../abstracts/_abstracts-dir';

.new-release-banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: rem(130px);
  padding: rem(16px 16px);

  background: {
    image: url('/images/new-release.png');
    position: center;
    repeat: no-repeat;
    size: cover;
  }

  @include respond-above('md') {
    height: rem(220px);
    padding: rem(40px 40px);
  }

  @include respond-above('lg') {
    height: rem(300px);
    padding: rem(44px 44px);
  }

  @include respond-above('xl') {
    height: rem(370px);
    padding: rem(52px 52px);
  }

  &__header {
    padding-bottom: rem(12px);
    margin: 0;
    font-size: rem(24px);
    line-height: 1;
    color: $light;

    @include respond-above('md') {
      font-size: rem(45px);
    }

    @include respond-above('lg') {
      font-size: rem(60px);
    }

    @include respond-above('xl') {
      font-size: rem(75px);
    }
  }

  &__description {
    max-width: 90%;
    margin: 0;
    font-size: rem(8px);
    line-height: 1.3;
    color: $light;

    @include respond-above('md') {
      max-width: 70%;
      font-size: rem(16px);
      line-height: 1.5;
    }

    @include respond-above('lg') {
      max-width: 60%;
      font-size: rem(20px);
    }

    @include respond-above('xl') {
      font-size: rem(26px);
    }
  }
}
