.product-media {
  flex-direction: column;
  box-sizing: border-box;
  height: 450px;
  padding: rem(16px);
  border-radius: 15%;

  @include flex-center();

  @include respond-above('sm') {
    height: 600px;
  }

  @include respond-above('md') {
    height: 430px;
    border-radius: 15%;
    background: $light;
  }

  @include respond-above('lg') {
    height: 560px;
  }

  @include respond-above('xl') {
    height: 650px;
  }

  &__image-container {
    height: 500px;

    @include flex-center();

    @include respond-above('md') {
      height: 320px;
    }

    @include respond-above('lg') {
      height: 420px;
    }

    @include respond-above('xl') {
      height: 500px;
    }
  }

  &__image-selector {
    & > *:not(:last-child) {
      margin-right: rem(5px);
    }
  }

  &__image {
    display: block;
    max-width: 90%;
    max-height: 100%;
  }

  &__image.smooth {
    @include transition($what: opacity, $time: 0.2s, $how: cubic-bezier(0.3, 0, 0.4, 1));

    opacity: 0.5;
  }

  &__image.smooth.isLoaded {
    opacity: 1;
  }

  &__button {
    width: rem(80px);
    height: rem(80px);
    border: none;
    border-radius: 10%;

    @include respond-above('md') {
      width: rem(60px);
      height: rem(60px);
    }

    @include respond-above('lg') {
      width: rem(80px);
      height: rem(80px);
    }
  }

  &__button.active {
    border: rem(2px) solid $havelock-blue;
  }
}
