.product-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: rem(500px) repeat(2, 1fr);
  grid-template-areas:
    'media'
    'detail'
    'information';

  @include respond-above('sm') {
    grid-template-rows: rem(620px) repeat(2, 1fr);
  }

  @include respond-above('md') {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: rem(520px) 1fr;
    grid-template-areas:
      'media detail'
      'information information';
  }

  @include respond-above('lg') {
    grid-template-rows: rem(670px) 1fr;
  }

  @include respond-above('xl') {
    grid-template-rows: rem(780px) 1fr;
  }

  & > .product-content__detail,
  & > .product-content__information {
    margin-bottom: rem(16px);

    border-radius: rem(9px);

    background-color: $light;

    @include respond-above('md') {
      margin-bottom: rem(24px);

      border-radius: unset;
    }

    @include respond-above('lg') {
      margin-bottom: rem(30px);
    }
  }

  & > .product-content__media,
  & > .product-content__detail {
    margin-top: rem(16px);
  }

  & > .product-content__media {
    grid-area: media;

    border-radius: rem(9px);

    background-color: $light;
    

    @include respond-above('md') {
      margin-bottom: rem(24px);

      border-radius: 20%;
      
      background-color: $onahau;
    }

    @include respond-above('lg') {
      margin-bottom: rem(30px);
    }
  }

  & > .product-content__detail {
    grid-area: detail;

    background-color: royalblue;
  }

  & > .product-content__information {
    grid-area: information;
  }
}
