.product-detail {
  display: flex;
  flex-direction: column;
  // align-items: center;
  box-sizing: border-box;
  padding: rem(16px);

  &__header {
    // margin-bottom: rem(24px);
    padding: 20px;
    padding-bottom: 15px;

    text-align: left;
  }

  &__title {
    margin: 0;

    font-size: rem(40px);
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: normal;
    color: $iron;
  }

  &__description {
    margin: 0;
    text-align: left;
    padding: 20px;
    padding-top: 0px;
  }

  &__rating {
    display: flex;
    width: 100px;
    height: 40px;

    &__text {
      font-size: 26px;
      font-weight: 700;
      line-height: 1.5;
      text-align: left;
      color: $mine-shaft;
      margin-right: 10px;
    }

    &__icon {
      height: 30px;
      width: 30px;
      border: none;
      background: {
        image: url('/icons/star.svg');
        repeat: no-repeat;
        size: contain;
      }

      @include respond-above('sm') {
        width: rem(40px);
      }

      @include respond-above('md') {
        width: rem(64px);
      }

      @include respond-above('lg') {
        width: rem(80px);
      }
    }
  }

  &__key {
    display: flex;
    width: 200px;
    height: 30px;
    padding: 20px 0;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: #000000;
  }
}
