@import '../abstracts/_abstracts-dir';

.product-list {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: $primary-template-column-max-xl;
  margin: rem(12px) 0 0;

  @include respond-above('sm') {
    margin-top: rem(28px);
  }

  @include respond-above('lg') {
    margin-top: rem(24px);
  }

  &__title {
    margin-bottom: rem(24px);
  }

  &__description {
    margin: 0;
  }
}
