.product-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(16px);
  box-sizing: border-box;

  &__header {
    margin-bottom: rem(24px);
  }

  &__title {
    margin: 0 0 rem(16px) 0;
  }

  &__description {
    margin: 0;
    text-align: center;
  }
}
