.product-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: fit-content();
  grid-template-areas:
    'media'
    'detail'
    'information';

  @include respond-above('md') {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'media detail'
      'information information';

    margin-top: rem(32px);
  }

  @include respond-above('lg') {
    margin-top: rem(48px);
  }

  &__media,
  &__detail,
  &__information {
    border-radius: rem(9px);
    margin-bottom: rem(16px);

    background-color: $light;

    @include respond-above('md') {
      border-radius: unset;
      margin-bottom: rem(32px);
    }

    @include respond-above('lg') {
      margin-bottom: rem(48px);
    }
  }

  &__media {
    grid-area: media;
    margin-top: rem(16px);

    @include respond-above('md') {
      padding-bottom: rem(64px);
      border-radius: rem(0 0 48px 48px);
      margin-top: 0;

      background-color: $onahau;
    }

    @include respond-above('lg') {
      padding-bottom: rem(80px);
      border-radius: 0 0 rem(64px 64px);
    }

    @include respond-above('xl') {
      padding-bottom: rem(96px);
      border-radius: 0 0 rem(80px 80px);
    }
  }

  &__detail {
    grid-area: detail;
    padding: rem(24px 24px 32px);

    @include respond-above('md') {
      padding: rem(32px 48px) 0;
      border-radius: rem(48px);
      background-color: $alabaster;
    }

    @include respond-above('lg') {
      padding: rem(40px 56px) 0;
      border-radius: rem(64px);
    }

    @include respond-above('xl') {
      padding: rem(48px 64px) 0;
      border-radius: rem(80px);
    }
  }

  &__information {
    grid-area: information;
  }
}
