@import '../abstracts/_abstracts-dir';

.product-list {
  padding: rem(16px);
  box-sizing: border-box;

  @include respond-above('lg') {
    padding: rem(24px 24px 24px 0);
  }

  &__title {
    margin: 0 0 rem(24px) 0;
  }

  &__description {
    margin: 0;
  }
}
