@import '../abstracts/_abstracts-dir';

.quote-box {
  width: 100%;
  height: fit-content;

  @include respond-above('md') {
    margin-top: rem(24px);
  }

  &__container {
    margin: rem(16px);

    @include respond-above('md') {
      margin: rem(24px) 0 0 rem(24px);
    }

    &--background-image {
      background: {
        image: url('/images/double-quote-left.png'),
          url('/images/double-quote-left.png');
        repeat: no-repeat;
        size: rem(22px 20px), rem(22px 20px);
        position: top left, bottom right;
      }

      @include respond-above('md') {
        background-size: rem(26px 24px), rem(26px 24px);
      }

      @include respond-above('lg') {
        background-size: rem(30px 28px), rem(30px 28px);
      }

      @include respond-above('xl') {
        background-size: rem(36px 32px), rem(36px 32px);
      }
    }
  }

  &__header {
    display: none;
    width: 30%;
    padding: rem(12px) 0 0 rem(24px);
    border-top: solid rem(12px) $dark;

    @include respond-above('md') {
      display: block;
    }
  }

  &__title {
    margin: 0;

    @include respond-above('md') {
      font-size: rem(22px);
    }
  }

  &__content {
    padding: rem(32px 36px);
    margin: 0;

    @include respond-above('xl') {
      padding: rem(32px 48px);
    }
  }
}
