.review {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: rem(350px);
  padding: rem(16px);

  @include respond-above('md') {
    height: rem(500px);
    padding: rem(32px);
  }

  @include respond-above('lg') {
    height: rem(700px);
    padding: rem(40px);
  }

  &__header {
    margin-bottom: rem(32px);
  }

  &__title {
    margin: 0;
  }
}
