@import '../abstracts/_abstracts-dir';

.search-box {
  position: relative;

  display: flex;
  width: 85%;
  box-shadow: rem(5px 10px 20px) 0 box-shadow-opacity(0.16);

  background-color: $light;

  @include respond-above('md') {
    width: 90%;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    padding: rem(16px 24px);
    border: none;

    color: $dove-gray;

    text-overflow: ellipsis;
    font-size: rem(14px);
    line-height: 1.23;

    @include respond-above('sm') {
      padding: rem(20px 32px);
      font-size: rem(16px);
    }

    @include respond-above('md') {
      padding: rem(28px 48px);
      font-size: rem(20px);
    }

    @include respond-above('lg') {
      padding: rem(36px 64px);
      font-size: rem(24px);
    }
  }

  &__button {
    all: unset;

    padding: rem(16px);

    background: {
      image: url('/icons/search-icon.svg');
      repeat: no-repeat;
      size: 50%;
      position: center;
    }

    cursor: pointer;

    @include respond-above('sm') {
      width: rem(40px);
    }

    @include respond-above('md') {
      width: rem(64px);
    }

    @include respond-above('lg') {
      width: rem(100px);
    }

    &:hover {
      background-color: $porcelain;
    }
  }
}
