@import '../abstracts/_abstracts-dir';

.sidebar {
  display: flex;
  height: 100%;
  padding: rem(44px 32px);
  background-color: $light;

  &__category {
  }

  &__checkbox {
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
  }

  &__category-title {
    font-size: rem(16px);
    font-weight: 600;
    line-height: 1.53;
  }

  &__color {
  }

  &__size {
  }

  &__price-range {
  }
}
