@import '../abstracts/_abstracts-dir';

.sign-up-success-form {
  display: flex;
  flex-direction: column;
  padding: rem(16px 0);
  background-color: $background;

  &__box,
  &__image,
  &__header,
  &__actionable {
    display: flex;
    justify-content: center;

    &:not(:last-child) {
      margin-bottom: rem(24px);
    }
  }

  &__image {
    height: rem(192px);
    width: rem(192px);
    align-items: center;
    border-style: solid;
    padding: rem(16px 0);
  }

  &__button {
    color: $light;
    text-decoration: none;
    margin: 0;
    padding: rem(5px 10px);
    border-radius: rem(3px);
    background-color: $shuttle-gray;

    &:hover {
      background-color: $shuttle-gray;
    }
  }
}
