@import '../abstracts/_abstracts-dir';

.sign-up-success-form {
  display: flex;
  flex-direction: column;
  background-color: $background;

  &__header {
    padding: rem(16px 0);
    margin-bottom: rem(24px);

    @include flex-center();
  }

  &__body {
    display: flex;
    justify-content: center;
    margin-bottom: rem(24px);
  }

  &__footer {
    margin-bottom: rem(24px);
  }
}
