@import '../abstracts/_abstracts-dir';

.sign-up-success-form {
  display: flex;
  flex-direction: column;
  background-color: $background;

  &__image,
  &__header,
  &__actionable {
    display: flex;
    justify-content: center;
    margin-bottom: rem(24px);
  }
  &__image {
    width: 100%;
    height: rem(192px);
    padding: rem(16px 0);
    margin-bottom: rem(24px);
  }

  &__button {
    color: $light;
    text-decoration: none;
    margin: 0;
    padding: rem(5px 10px);
    border-radius: rem(3px);
    background-color: $shuttle-gray;

    &:hover {
      background-color: $shuttle-gray;
    }
  }
}
