@import '../abstracts/_abstracts-dir';

.sign-in-form {
  display: flex;
  flex-direction: column;
  background-color: $silver;

  &__header {
    display: flex;
    justify-content: center;
    background-color: greenyellow;
    margin-bottom: rem(24px);
    padding: rem(24px) 0;
  }

  &__body {
    margin-bottom: rem(24px);
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: rem(24px);
  }

  &__footer-item {
    &:not(:last-child) {
      margin-bottom: rem(8px);
    }
  }

  &__footer-item > a,
  &__footer-item > p {
    &:not(:last-child) {
      margin-right: rem(4px);
    }
  }

  &__description {
    display: inline-block;
    margin: 0;
  }

  &__link {
    text-decoration-color: none;
  }
}
