@import '../abstracts/_abstracts-dir';

.slider {
  @include respond-above('sm') {
    max-width: rem(map-get($breakpoints, 'md'));
  }

  @include respond-above('md') {
    max-width: rem(map-get($breakpoints, 'lg'));
  }

  @include respond-above('lg') {
    max-width: rem(map-get($breakpoints, 'xl'));
  }

  @include respond-above('xl') {
    max-width: fit-content;
  }
}
