@import '../abstracts/_abstracts-dir';

.navbar {
  @include flex-center();

  height: 100%;
  padding: 0 rem(16px);
  background-color: $background;
  box-sizing: border-box;

  @include respond-above('md') {
    padding: 0 rem(24px);
  }

  @include respond-above('lg') {
    padding: 0 rem(32px);
  }

  @include respond-above('xl') {
    padding: 0 rem(40px);
  }
}
