// Colors
$primary: #778899;
$secondary: #808080;
$silver: #c0c0c0;
$light: #fff;
$dark: #000;
$shuttle-gray: #5a6570;
$picton-blue: #47a1f5;
$mine-shaft: #262626;
$cat-black: #3c3c3c;
$athens-gray: #edf0f4;
$cornflower-blue: #638cff;
$alabaster: #f7f7f7;
$royal-blue: #5358d8;
$porcelain: #f0f4f5;
$havelock-blue: #6a9bdc;
$tornado: #868686;
$coral-red: #ff3c3c;
$dove-gray: #646464;
$azure-radiance: #0297fd;
$silver-chalice: #acacac;
$mercury: #e1e1e1;
$dark-charcoal: #333;
$iron: #5e5e5e;
$darker-gunpowder-gray: #303030;

// Map of breakpoints
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

// Z-index
$zindex-dropdown: 1000 !default;
$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-modal: 1050 !default;
$zindex-popover: 1060 !default;
$zindex-tooltip: 1070 !default;

// Shadows
$popular-item-shadow: hsla(0, 0%, 27%, 0.03);

// Grid components height
$footer-height: (
  sm: rem(200px),
  md: rem(200px),
  lg: rem(300px),
  xl: rem(350px),
);

$header-height: (
  sm: rem(56px),
  md: rem(80px),
  lg: rem(96px),
  xl: rem(120px),
);

// Components width
$navbar-max-width: rem(1536px);
$sign-up-form-max-width: rem(1344px);

// Grid template column
$account-sidebar-template-column-min-lg: rem(330px);
$account-sidebar-template-column-max-lg: rem(434px);
$account-sidebar-template-column-min-xl: rem(402px);
$account-sidebar-template-column-max-xl: rem(468px);
$account-main-template-column-min-lg: rem(630px); 
$account-main-template-column-max-lg: rem(734px);
$account-main-template-column-min-xl: rem(702px); 
$account-main-template-column-max-xl: rem(876px);
$primary-template-column-min-xl: rem(1104px); 
$primary-template-column-max-xl: rem(1440px);
