@import '../../styles/main.scss';

@mixin sticky() {
  top: 0;
  width: 100%;
  position: fixed;
}

.navbar-container {
  height: rem(32px);
  background-color: $background;

  @include sticky();
  @include flex-center();
  @include respond-above(md) {
    height: rem(72px);
  }
}
