@import '../../styles/main.scss';

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  padding: rem(16px);
  background-color: $background;
  
  top: 0;
  position: fixed;

  height: rem(32px);

  @include respond-above(md) {
    height: rem(72px);
  }

  &__title {
    display: inline-block;

    margin: 0;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: rem(16px);
    }
  }
}
