@import "../../styles/main.scss";

.container {
    min-height: 100vh;
    @include flex-center();
}

.signUp-form {
    margin: auto;
    height: rem(400px);
    width: rem(650px); 
    flex-direction: column;
    
    background-color: $background;
  
    @include flex-center();
}

@mixin button-bg($background) {
  background-color: $background;
  margin-top: 16px;
  &:hover {
    background-color: darken($background, 8%);
  }
}

.btn {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
}

.btn-submit {
  @include button-bg(#5a6570);
}
    