@import "../../styles/main.scss";

@mixin button-bg($background) {
  background-color: $background;
  margin-top: 16px;
  &:hover {
    background-color: darken($background, 8%);
  }
}
.sign-up-form {
  margin: auto;
  height: rem(400px);
  width: rem(650px);
  flex-direction: column;
  background-color: $background;
  @include flex-center();

  &__submit-button {
    color: $light;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    @include button-bg(#5a6570);
  }
}
