.layout-products {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: map-get($header-height, 'sm') rem(50px) 1fr 1fr;
  grid-template-areas:
    'header'
    'sidebar'
    'main'
    'footer';

  height: 100vh;

  @include respond-above('md') {
    grid-template-rows: map-get($header-height, 'md') rem(100px) 1fr map-get($footer-height, 'md');
  }

  @include respond-above('lg') {
    grid-template-columns: minmax(200px, 270px) minmax(742px, 1fr);
    grid-template-rows: map-get($header-height, 'lg') 1fr map-get($footer-height, 'lg');
    grid-template-areas:
      'header header'
      'sidebar main'
      'footer footer';
  }

  @include respond-above('xl') {
    grid-template-rows: map-get($header-height, 'xl') 1fr map-get($footer-height, 'xl');
  }

  & > header {
    grid-area: header;
    position: fixed;
    z-index: $zindex-header;
    top: 0;

    display: flex;
    justify-content: center;
    box-shadow: 0 rem(4px 20px) 0 box-shadow-opacity(0.16);
    width: 100%;
    background-color: $light;
  }

  & > aside {
    grid-area: sidebar;
  }

  & > main {
    grid-area: main;
    background-color: $alabaster;

    padding: rem(24px 16px);

    @include respond-above('md') {
      padding: rem(24px 56px);
    }

    @include respond-above('lg') {
      padding: rem(38px 33px);
    }
  }

  & > footer {
    grid-area: footer;

    display: flex;
    justify-content: center;
    box-shadow: 0 0 rem(20px) 0 box-shadow-opacity(0.16);
  }
}
