.layout-products {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: map-get($header-height, 'sm') rem(50px) 1fr map-get($footer-height, 'sm');
  grid-template-areas:
    'header'
    'sidebar'
    'main'
    'footer';

  height: 100vh;

  @include respond-above('md') {
    grid-template-rows: map-get($header-height, 'md') rem(100px) 1fr map-get($footer-height, 'md');
  }

  @include respond-above('lg') {
    grid-template-columns: minmax(250px, 400px) minmax(742px, 1fr);
    grid-template-rows: map-get($header-height, 'lg') 1fr map-get($footer-height, 'lg');
    grid-template-areas:
    'header header'
    'sidebar main'
    'footer footer';
  }

  @include respond-above('xl') {
    grid-template-rows: map-get($header-height, 'xl') 1fr map-get($footer-height, 'xl');
  }

  & > header {
    grid-area: header;

    display: flex;
    justify-content: center;
    background-color: $silver;
  }

  & > aside {
    grid-area: sidebar;
  }

  & > main {
    grid-area: main;

    padding: rem(24px 16px);

    @include respond-above('md') {
      padding: 4.5% 6%;
    }

    @include respond-above('lg') {
      padding: 5% 10%;
    }
  }

  & > footer {
    grid-area: footer;
  }
}
