.layout-account {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: rem(40px) 1fr 2fr rem(200px);
  grid-template-areas:
    'header'
    'sidebar'
    'main'
    'footer';

  height: 100vh;

  @include respond-above('md') {
    grid-template-rows: rem(80px) 1fr 2fr rem(250px);
  }

  @include respond-above('lg') {
    grid-template-columns: minmax(400px, 600px) minmax(742px, 1fr);
    grid-template-rows: rem(100px) 1fr rem(300px);
    grid-template-areas:
      'header header'
      'sidebar main'
      'footer footer';
  }

  @include respond-above('xl') {
    grid-template-rows: rem(140px) 1fr rem(350px);
  }

  & > header {
    grid-area: header;
  }

  & > aside {
    grid-area: sidebar;

    padding: rem(24px 16px 16px 16px);

    @include respond-above('md') {
      padding: 4% 6% 2% 6%;
    }

    @include respond-above('lg') {
      padding: rem(45px 20px 75px 100px);
    }
  }

  & > main {
    grid-area: main;

    padding: rem(16px 16px 24px 16px);

    @include respond-above('md') {
      padding: 2% 6% 4% 6%;
    }

    @include respond-above('lg') {
      padding: rem(45px 100px 75px 20px);
    }
  }

  & > footer {
    grid-area: footer;
  }
}
