.layout-home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: rem(40px) 1fr rem(200px);
  grid-template-areas:
    'header'
    'main'
    'footer';

  height: 100vh;

  @include respond-above('md') {
    grid-template-rows: rem(80px) 1fr rem(250px);
  }

  @include respond-above('lg') {
    grid-template-rows: rem(100px) 1fr rem(300px);
  }

  @include respond-above('xl') {
    grid-template-columns: 1fr minmax(rem(1200px), rem(1400px)) 1fr;
    grid-template-rows: rem(140px) 1fr rem(350px);
    column-gap: rem(48px);
    grid-template-areas:
    'header header header'
    '. main .'
    'footer footer footer';
  }

  & > header {
    grid-area: header;
  }

  & > main {
    grid-area: main;

    padding: rem(24px 16px);

    @include respond-above('md') {
      padding: 4.5% rem(24px);
    }

    @include respond-above('lg') {
      padding: 5% rem(32px);
    }

    @include respond-above('xl') {
      padding-left: 0;
      padding-right: 0;
    }
  }

  & > footer {
    grid-area: footer;
  }
}
