.layout-authentication {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: map-get($header-height, 'sm') 1fr 1fr;
  grid-template-areas:
    'header'
    'main'
    'footer';

  height: 100%;

  @include respond-above('md') {
    grid-template-rows: map-get($header-height, 'md') 1fr map-get($footer-height, 'md');
  }

  @include respond-above('lg') {
    grid-template-rows: map-get($header-height, 'lg') 1fr map-get($footer-height, 'lg');
  }

  @include respond-above('xl') {
    grid-template-rows: map-get($header-height, 'xl') 1fr map-get($footer-height, 'xl');
  }

  & > header {
    grid-area: header;
    position: sticky;
    z-index: $zindex-header;
    top: 0;

    display: flex;
    justify-content: center;
    box-shadow: 0 rem(4px 20px) 0 box-shadow-opacity(0.16);
    background-color: $light;
  }

  & > main {
    grid-area: main;

    padding: rem(24px 16px);

    @include respond-above('md') {
      padding: 4.5% 6%;

      background: {
        image: url('/images/sign-up-background.jpg');
        repeat: no-repeat;
        size: cover;
        position: top 10% center;
      }
    }

    @include respond-above('lg') {
      padding: 5% 10%;
    }
  }

  & > footer {
    grid-area: footer;

    display: flex;
    justify-content: center;
    box-shadow: 0 0 rem(20px) 0 box-shadow-opacity(0.16);
  }
}
