.layout-about-us {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: map-get($header-height, 'sm') repeat(2, 1fr);
  grid-template-areas:
    'header'
    'main'
    'footer';

  height: 100vh;

  @include respond-above('md') {
    grid-template-rows: map-get($header-height, 'md') 1fr map-get($footer-height, 'md');
  }

  @include respond-above('lg') {
    grid-template-rows: map-get($header-height, 'lg') 1fr map-get($footer-height, 'lg');
  }

  @include respond-above('xl') {
    grid-template-columns: 1fr minmax($primary-template-column-min-xl, $primary-template-column-max-xl) 1fr;
    grid-template-rows: map-get($header-height, 'xl') 1fr map-get($footer-height, 'xl');
    column-gap: rem(48px);
    grid-template-areas:
      'header header header'
      '. main .'
      'footer footer footer';
  }

  & > header {
    grid-area: header;
    position: fixed;
    z-index: $zindex-header;
    top: 0;

    display: flex;
    justify-content: center;
    box-shadow: 0 rem(4px 20px) 0 box-shadow-opacity(0.16);
    width: 100%;
    background-color: $light;
  }

  & > main {
    grid-area: main;

    padding: 0 rem(16px);

    @include respond-above('md') {
      padding: 0 rem(24px);
    }

    @include respond-above('lg') {
      padding: 0 rem(32px);
    }

    @include respond-above('xl') {
      padding: 0;
    }
  }

  & > footer {
    grid-area: footer;

    display: flex;
    justify-content: center;
    box-shadow: 0 0 rem(20px) 0 box-shadow-opacity(0.16);
  }
}
